extend modules/template.pug
block content

  script(src="logic.js")

  .presentation  
    .liked
      h3= 'Por que te gustó:'
      div(class="poster" id="poster")
      h3= 'Te recomendamos:'
    .container(id="container")
    