extend modules/template.pug
block content

  script(src="logic.js")

  .presentation  
    div(class='liked' id='liked')      
    .recommendations
      h3= 'Te recomendamos'
      .container(id="container")
      .buttons
        button(id= 'btn1' class= 'btn selected' onclick= 'nextPageLeft(); btnSelected()')
        button(id= 'btn2' class= 'btn' onclick= 'nextPageRight(); btnSelected()')

      
    