extend modules/template.pug
block content

  script(src="index.js")
  form(action="" class='search')
    label(for="")='Te diré que películas ver en base a tu pelicula favorita'
    input(type="text" id='entry' placeholder='Escribe tu película favorita')
    button(type='button' onclick= "getResults()" id="buttonShow") 
      a="Mostrar" 

  .presentation(class='hide')
    div(class='liked' id='liked')      
    .recommendations
      h3= 'Te recomiendo'
      .container(id="container")
      .buttons
        button(id= 'btn1' class= 'btn selected' onclick= 'nextPageLeft(); btnSelected()')
        button(id= 'btn2' class= 'btn' onclick= 'nextPageRight(); btnSelected()')
  
  .extended(id="extended" class="hide")
    