extend modules/searchTemplate.pug
block search

  script(src="index.js")
  form(action="") 
    input(type="text" id='entry')
    button(type='button' onclick= "getResults()") 
      a="Show results" 

  .presentation  
    div(class='liked' id='liked')      
    .recommendations
      h3= 'Te recomendamos'
      .container(id="container")
      .buttons
        button(id= 'btn1' class= 'btn selected' onclick= 'nextPageLeft(); btnSelected()')
        button(id= 'btn2' class= 'btn' onclick= 'nextPageRight(); btnSelected()')