extend modules/template.pug
block content

  script(src="logic.js")

  .presentation  
    .liked
      h3= 'Si te te gustó:'
      div(class="poster" id="poster")
    .recommendations
      h3= 'Te recomendamos'
      .container(id="container")
    