extend modules/template.pug
block content

  script(src="logic.js")

  .presentation  
    div(class='liked' id='liked')      
    .recommendations
      h3= 'Te recomendamos'
      .container(id="container")
    