.search{
  width: 600px;
  height: 100px;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  label{
    display: flex;
    color: white;
    font-family: 'Open sans';
    font-size: 18px;
  }
  input{
    border: none;
    text-decoration: none;
    width: 350px;
    height: 40px;
    padding: 0;
    font-family: 'Open sans';
    font-size: 18px;
    text-align: center;
  }
  button{
    text-decoration: none;
    width: 150px;
    height: 40px;
    border: none;
    font-family: 'Open sans';
    a{
      font-weight: 500;  
      font-size: 18px;
  
    }
  }
}
.presentation{  
  width: 90%;
  height: auto;
  margin: auto;
  /* display: flex;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 20px;
  .liked{    
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    img{
      width: 250px;
      border-radius: 10px;
      margin: $margin-text 0px;
    }        
  }
  .recommendations{
    text-align: center;
    overflow: hidden;
    margin-top: $margin-text;
    /* overflow-y: hidden; */
    .container{
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-auto-flow: column;
      grid-auto-columns: 150px;
      gap: 20px;
      text-align: center;
      margin-top: $margin-text;
      overflow-x: auto;
      scroll-behavior: smooth;
      /* display: flex;
      justify-content: center;
      align-content: center;
      flex-wrap: wrap;
      width: 66%; */
      .cards{
        height: 100%;      
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: flex-start;
        width: 150px;
        margin: auto;
        &__images{
        width: 150px;
        border-radius: 5px;
        }
      }
    }    
  } 
}
.hide{
  display: none;
}
.buttons{
  display: flex;
  justify-content: center;
  width: 30px;
  margin: auto;
  margin-top: $margin-text;
  .btn{
    height: 10px;
    width: 5px;
    border-radius: 6px;
    background-color: rgb(123, 121, 121);
    outline: none;
    border: none;
    margin: 0 calc(50% - 5px);
    cursor: pointer;
  }
  .selected{
    background-color: white;
  }
}