h1{
  display: inline-block;
  margin: 0;
  color: white;
  font-family: 'Open sans', sans-serif;
  font-weight: 500;
  font-size: 1.4em;
}
h2{
  display: inline-block;
  margin: 0;
  color: white;
  font-family: 'Open sans', sans-serif;
  font-weight: 500;
  font-size: 1.25em;
}
h3{  
  display: inline-block;
  margin: 0;
  color: white;
  font-family: 'Open sans', sans-serif;
  font-weight: 500;
  font-size: 1em;
}
body{
  background-color: rgb(40, 39, 43);
}
img{
  width: 100px;
}


