.search{
  width: 90%;
  height: auto;
  text-align: center;
  gap: 15px;
  input{
    border-radius: 5px;
    background-color: white;
    color: black;
  }
  button{
    border-radius: 5px;
    background-color: #3535d5;
  }
}
.presentation{
  display: flex;
  flex-direction: column;
  margin: auto;
  .liked{
    display: flex;
    flex-direction: column;  
    align-items: center;    
  } 
  .recommendations{
    .container{
      grid-template-columns: 1fr 1fr;
      grid-auto-flow: row;
    }
    .buttons{
      display: none;
    }
    .thanks{
      margin: 50px 0px;
    }
  }
}
.extended{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 15px 15px;
  gap: 15px;
  position: fixed;
  bottom: 0;
  background-color: rgb(40, 39, 43);
  border-radius: 15px 15px 0 0;
  box-shadow: 0 -5px 20px black;
  animation-name: displayInfo;
  animation-duration: 1s;
  #close{
    /* display: block;
    width: 50px;
    height: 5px;
    background-color: white;
    border-radius: 2px; */
    font-size: 30px;
    height: 21px;
  }
  .view{
    display: flex;
    flex-direction: row;
    height: 150px;
    gap: 15px;
    .image{}
    .info{
      overflow: scroll;
      .text{
      }
    }
  }
}
.line{
  height: 150px;
}
.close{
  animation-name: hideInfo;
  animation-duration: 1s;
  -o-animation-fill-mode: forwards;
}
.hide{
  display: none;
}
.fill{
  margin-bottom: 240px;
}
/* .blueBright{
  background-color: #2b2bfd;
} */


